.d-main{
    min-height:calc(100vh - 300px);
    padding:50px 0px 50px 360px;
    position:relative;
    .d-left-nav{
        background:#043a72;
        position:absolute;
        left:0;
        top:0;
        width:320px;
        height:100%;
        -webkit-transition:left .5s linear;
        transition:left .5s linear;
    }
}
.left-nav-pro{
    .list-group{
        > .list-group-item{
            background:none;
            border:none;
            -webkit-border-radius:0;
            border-radius:0;
            cursor:pointer;
            color:#fff;
            line-height:1;
            padding:15px 25px;
            font-size:1.1rem;
            margin:0;
            border-bottom:1px solid #275381;
            &:hover{
                background:#032e5a;
            }
            &.active{
                background:#032e5a;
            }
        }
    }
}
.search-field{
    .form-control{
        width:100%;
        max-width:400px;
        -webkit-border-radius:0;
        border-radius:0;
        border:1px solid #b3b3b3;
        height:auto;
        padding:11px 13px 8px;
        background: #f5f5f5;
    }
}
